<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Home</title>
    <link rel="stylesheet" href="mystyle.css">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="page">
    <!-- <nav>
        <a href="/">Home</a>|
        <a href="/about">About</a>|
        <a href="/registration">Registration</a>

    </nav> -->
    <%-include("partials/header")   %>
    <main>
    <h1>Welcome to my Home page</h1>
    <img src="/images/nature.webp" alt="">
    
    <p class="bg-primary text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis aut similique commodi nobis, veritatis accusantium asperiores maiores tempora eius porro ut cum, laborum fugit? Deleniti autem accusantium quis ab voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente laborum nobis voluptate mollitia perferendis, unde reiciendis quod nisi officiis accusantium sit, ipsam obcaecati asperiores magnam minus doloribus autem beatae provident?</p>
    </main>    
    <%-include("partials/Footer")   %>   
</div>
</body> 
</html>