<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>

    <h1>Welcome User</h1>
    <p>This is my profile Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, vero a ipsa aspernatur velit earum at magni atque repudiandae ipsam obcaecati facere rem voluptate quo in doloribus necessitatibus nam nihil!</p>

    <h3>Email: <%= user.email %></h3>

    <a href="/logout">
        Logout
    </a>

</body>
</html>
