<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>

  <nav>
        <a href="/">Home</a>|
        <a href="/about">About</a>|
        <a href="/registration">Registration</a>

    </nav>
    <h1>Registration Successful</h1>

    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>

    <a href="/registration">Go back to registration</a>

</body>
</html>